# Discord bot token
DISCORD_CLIENT_SECRET=""
DISCORD_CLIENT_ID=""
# Default invite link
INVITE_LINK="https://discord.com/oauth2/authorize?client_id=1251221585981997126"
# Google gemini API
GEMINI_API_KEY=""